
body{
margin: 0px;
}

.react-icons{
  text-align: center;
  vertical-align:text-top;
  margin-right: 10px;
}


/* App.js css */

.App{
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100vh;
  margin: 0px;
}

.navbar-section{
  border: 0px solid black;
  background-color: rgb(76, 169, 203);
}

.body-section{
  padding: 1rem;
}

/* Navbar.js */
.navbar{
  padding: 1rem;
  color:  rgb(238, 237, 237);
}

.navbar-header{

  font-family: cursive;
  font-size: 30px;
}

.navbar-links{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar-link-dashboard{
  font-size: 20px;
  color:rgb(238, 237, 237) ;
  text-decoration: none;
  
}

.navbar-link-dashboard:hover{
  color:rgba(238, 237, 237, 0.81) ;
}

/* Teacher Dasboard .js */


.teacher-dashboard-header{
  font-family: cursive;
  font-size: 40px;
  height: 30px;
}
.LearningPathsSection-teacher{
  border: 1px ;
  border-radius: 20px;
  background-color: rgb(240, 237, 237) ;
  padding: 1rem;
}

.learning-path-create-button{
  margin-top: 2vh;
  border-radius: 7px;
  border: 0px;
  color: rgb(238, 237, 237);
  background-color: rgb(76, 169, 203) ;
  height: 30px;
  font-size: 15px;
}

.learning-path-create-button:hover{
  background-color: rgb(96, 160, 183) ;
  cursor:pointer;
}

.LearningPathsSection-teacher-header{
     font-family: cursive;
     font-size: 28px;
}