
body{
margin: 0px;
}

.react-icons{
  text-align: center;
  vertical-align:baseline;
  margin-right: 10px;
}


/* App.js css */

.App{
  display: grid;
  grid-template-columns: 15% 85%;
  height: 100vh;
  margin: 0px;
}

.navbar-section{
  border: 0px solid black;
  background-color: rgb(76, 169, 203);
}

.body-section{
  padding: 1rem;
}

@media (max-width: 750px){
  .App{
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0px;
  }
  .navbar-section{
    width: 100%;
    margin: 0px;
  }
}

/* Navbar.js */
.navbar{
  padding: 1rem;
  color:  rgb(238, 237, 237);
}

.navbar-header{

  font-family: cursive;
  font-size: 30px;
  margin-bottom: 5rem;
}

.navbar-links{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.navbar-link-dashboard{
  font-size: 20px;
  color:rgb(238, 237, 237) ;
  text-decoration: none;
  
}

.navbar-link-dashboard:hover{
  color:rgba(238, 237, 237, 0.81) ;
}



@media (max-width: 1200px){
  .navbar-header{

    font-family: cursive;
    font-size: 30px;
    margin-bottom: 0px;
  }
}

/* Signup.js */



/* student Dasboard .js */


.student-dashboard-header{
  font-family: cursive;
  font-size: 40px;
  margin-bottom:20px;
}

.student-dashboard-class{
  color: rgb(115, 186, 247);
  margin-bottom:20px;
  text-align: center;
}

.LearningPathsSection-student{
  border: 1px ;
  border-radius: 20px;
  background-color: rgb(240, 237, 237) ;
  padding: 1rem;
}

.learning-path-create-button{
  margin-top: 2vh;
  border-radius: 7px;
  border: 0px;
  color: rgb(238, 237, 237);
  background-color: rgb(76, 169, 203) ;
  height: 30px;
  font-size: 15px;
}

.learning-path-create-button:hover{
  background-color: rgb(96, 160, 183) ;
  cursor:pointer;
}

.LearningPathsSection-student-header{
     font-family: cursive;
     font-size: 28px;
}


/* Teacher Dashboard.js */

.teacher-dashboard-header{
  font-family: cursive;
  font-size: 40px;
  margin-bottom:20px;
}

.teacher-subject-section{
  
  background-color: rgb(230, 229, 228);
  padding-top: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
}

.teacher-subject-header{
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(114, 115, 115);
}

.teacher-subject-container{
  display:grid;
  grid-template-columns: 25% 25% 25% 25%;
  list-style: none;
}

.teacher-subject-item{
 
  
  display: flex;
  flex-direction: column;
}

.teacher-subject-item-link{
  margin-right: 30px;
  margin-top: 20px;
  background-color: rgb(149, 214, 235);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(58, 57, 57);
}

.teacher-subject-item-link:hover{
  background-color: rgba(177, 223, 239, 0.78);
}

.learning-path-create-button{
  margin-left: 30px;
}

.teacher-subject-progressbar{
  vertical-align:baseline;
  margin-right: 10px;
}


.teacher-analysis-section{
  background-color: rgb(224, 223, 223);
  padding-top: 20px;
  border-radius: 10px;
  padding-bottom: 20px;
  margin-top: 40px;
  padding-bottom: 50px;
}

.teacher-subject-analysis-item-link{
  margin-right: 30px;
  margin-top: 20px;
  background-color: #58d5ee;
  color:white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(58, 57, 57);
}

.teacher-subject-analysis-item-link:hover{
  background-color: #8fd7e5;
}

@media (max-width: 1200px){
  .teacher-dashboard-header{
    text-align: center;
  }
  .teacher-subject-container{
    display:flex;
    flex-direction: column;
    list-style: none;
  }
}

/* SubjectWiseLearningPath.js */

.teacher-dashboard-subjectwise-header{
  text-align: center;
  font-family: cursive;
}

.teacher-dashboard-subject-header{
  color: rgb(66, 148, 219);
}

/* AddNewLearningPath.js */

.add-new-learning-path-section{

  /* background-color:rgb(240, 237, 237)  ; */
  display: flex;
 
  gap: 5rem;
}

.alternate-message-learning-path{
  text-align: center;
  margin-top: 10rem;
}

.generated-learning-path-section{
  width:550px;
  background-color:  rgb(240, 237, 237);
  border-radius: 20px;
  overflow: scroll;
  max-height: 900px;
  margin-top: 5rem;
}

.add-new-learning-path-form{
  margin-left: 5rem;
  margin-top: 5rem;
}

@media (max-width: 668px){
  

  .add-new-learning-path-section{

    
    display: flex;
    flex-direction: column;
   
    gap: 5rem;
  }

  .generated-learning-path-section{
    width:100%;
    background-color:  rgb(240, 237, 237);
    border-radius: 20px;
    overflow: scroll;
    max-height: 900px;
    margin-top: 1rem;
    
  }
  .add-new-learning-path-form{
    width:100%;
    margin: 0px;
  }
}

/* LearningPathComponent.js */

.learning-path{
  text-align: center;
}

.generated-learning-path-section-header{
  text-align: center;
  font-family: cursive;
  font-size: 30px;

}

.learning-path-grid-component{
  background-color: rgb(166, 232, 243);
  border-radius: 40px;
  border: 4px solid rgb(60, 178, 218);
  box-shadow: 5px 8px 10px 0.1px rgba(0, 0, 0, 0.213);
}
.learning-path-grid-component-day{
   text-align: center;
}
.learning-path-grid-component-body{
  text-align: center;
  font-size: 20px;
}


/* LearningPathViewer.js */

.learning-path-viewer{
  display: flex;
  gap: 3rem;
  overflow: scroll;
}
.learning-path-viewer-path{
  text-align: center;
  font-family:fantasy;
  margin-top: 1rem;
}
.learning-path-viewer-subject{
  text-align: center;
  font-family:fantasy;
}

.learning-path-viewer-component-container{
  border: 4px solid rgb(119, 187, 219);
  max-height: 70vh;
  overflow: scroll;
  padding: 20px;
  width: 20rem;
  border-radius: 20px;
}


@media (max-width: 1200px){

  .LearningPathsSection-teacher{
    width: 100%;
  }

  .learning-path-viewer{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    overflow: scroll;
    
  }

  .learning-path-viewer-component-container{
    width:100%;
  }

}

/* analytics page.js*/

.analytics-page-student-list-container{
  padding: 1rem;
  background-color: rgb(239, 238, 237);
  border-radius: 20px;
  border: 3px solid rgb(71, 185, 237);
}

.analytics-page-section1{
   display: flex;
   gap:200px;
}

@media (max-width: 1600px){
  .analytics-page-section1{
    display: flex;
    flex-direction: column;
    gap:20px;
 }
}

.analytics-page-section1-class-details{
  padding-left: 30px;
  margin-bottom: 20px;
}

.class-name{
  color: rgb(75, 167, 216);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.subject-name{
  color: rgb(122, 125, 125);
}

.class-strength{
  color: rgb(122, 125, 125);
}

/* AverageAttendanceComponent.js */

.Today-attendance-pie-chart-container{
  padding-left: 30px;
  overflow:scroll;
}

@media (max-width: 1200px){
  .Today-attendance-pie-chart-container{
    padding: 0px;
  }
}

.Today-attendance-pie-chart-label{
  font-family: cursive;
  font-size: 30px;
}

.today-attendance-pie-chart{
  
  background-color: rgb(240, 236, 236);
  border-radius:20px;
  margin-bottom: 20px;
}

/* ClassAttendanceRecordBarGraph.js*/
.ClassAttendanceRecordBarGraph-label{
  font-family: cursive;
  font-size: 20px;
}
.ClassAttendanceRecordBarGraph{
  background-color: rgb(240, 236, 236) ;
  border-radius: 20px;
  margin-bottom: 7rem;
  overflow: scroll;
  max-width:800px;
}

@media (max-width: 1200px){
  .ClassAttendanceRecordBarGraph-container{
    overflow: scroll;
  }
}

/* TeacherProfileComponent.js */

.teacher-info{
  display: flex;
  
}



.teacher-imageAndName{
  
  text-align: center;
  padding: 20px;
}

#teacher-image{
  height: 16rem;
  border-radius: 30px;
  margin-bottom: 10px;
  
}
#teacher-name{
  font-family:cursive;
  color: rgb(70, 172, 230);
}

.calendar-section{
  border: 4px solid rgb(42, 165, 189);
  padding: 30px;
  border-radius: 20px;
  text-align: center;
  font-family: cursive;
  margin-top: 20px;
}



@media (max-width: 1200px){
  .teacher-info{
    display: flex;
    flex-direction: column;
    
  }
  .calendar-section{
    padding: 10px;
    
  }
}


/* TodayTask.js */



